<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
<!--	<meta http-equiv="refresh" content="5">设置页面5秒自动刷新-->
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>智能排班系统</title>
	<link rel="stylesheet" href="../../plugins/element-ui/index.css">
	<link rel="stylesheet" href="../../styles/common.css">
	<link rel="stylesheet" href="../../styles/page.css">
	<link rel="stylesheet" href="../../styles/schedule.css">
	<link rel="stylesheet" href="../../styles/schedule1.css">
	<link rel="stylesheet" href="../../styles/schedule2.css">
	<link rel="stylesheet" href="../../styles/schedule3.css">
	<script src="https://cdn.bootcdn.net/ajax/libs/axios/1.2.3/axios.js"></script>
	<script src="../../plugins/vue/vue.js"></script>
	<script src="../../plugins/element-ui/index.js"></script>
	<script src="../../plugins/axios/axios.min.js"></script>
	<script src="../../js/request.js"></script>
	<script src="../../api/employee.js"></script>
	<script src="../../api/schedule.js"></script>
	<script src="../../js/min.js"></script>
	<script src="../../js/demo-to-codepen.js"></script>
	<script src="../../js/index.global.js"></script>
	<script src="../../js/jquery-3.5.1.min.js"></script>

	<style>
		html, body {
			margin: 0;
			padding: 0;
			font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
			font-size: 14px;
		}
		#calendar {
			max-width: 1100px;
			margin: 40px auto;
		}
		#employee-app .notAdmin::after{
			border:0 !important;
		}
	</style>
</head>
<body>
<div class="dashboard-container" id="schedule-app">
	<div class="container">
		<div class="tableBar">
			<el-form
					ref="ruleForm"
					:model="ruleForm"
					:inline="false"
					:rules="rules"
					label-width="180px"
					class="demo-ruleForm"
					action="select.php"
					method="get"
			>
				<el-form-item
					prop="storeId"
				>
					<el-select
							type="primary"
							v-model="ruleForm.storeId"
							filterable
							placeholder="请选择门店"
							clearable=""
							class="storeOption"
					>
						<el-option v-for="(item,index) in storeList" :key="index" :label="item.name" :value="item.id">
						</el-option>
					</el-select>
				</el-form-item>
				<el-form-item
					prop="jobId"
				>
					<el-select
							v-model="ruleForm.selectJobId"
							placeholder="请选择职位"
							clearable
							class="showByJob"
					>
						<el-option v-for="(item,index) in jobList" :key="index" :label="item.name" :value="item.id"></el-option>
					</el-select>
				</el-form-item>
				<el-form-item
					prop="week"
				>
					<el-date-picker
							v-model="ruleForm.date"
							type="week"
							value-format="yyyy-MM-dd"
							format="yyyy 第 WW 周"
							placeholder="选择周"
							class="specificTime"
					>
					</el-date-picker>
				</el-form-item>
				<div class="subBox prefer buildSchedule">
					<el-form-item>
						<el-button
								type="primary"
								@click="submitForm('ruleForm')"
						>
							生成排班表
						</el-button>
					</el-form-item>
				</div>
			</el-form>
			<p class="notice">*若需新增排班事件，请选择需添加的员工：</p>
			<el-button class="addEvent" @click="DialogVisible=true">新增排班事件</el-button>
			<el-dialog
					title="选择员工匹配到当前班次"
					:visible.sync="DialogVisible"
					width="30%"
					:before-close="handleClose"
					:modal-append-to-body="false"
			>
				<el-form
						ref="addForm"
						:model="addForm"
						:inline="false"
						action="select.php"
						method="get"
				>
					<el-form-item
							prop="employeeId"
					>
						<el-select
								type="primary"
								v-model="addForm.employeeId"
								filterable
								placeholder="请选择员工"
								clearable=""
								class="employeeOption"
						>
							<el-option v-for="(item,index) in employeeList" :key="index" :label="item.name" :value="item.id"></el-option>
						</el-select>
					</el-form-item>
					<div class="subBox prefer">
						<el-form-item>
							<el-button
									@click="DialogVisible=false"
							>
								取消
							</el-button>
							<el-button
									type="primary"
									@click="addHandle()"
							>
								确定
							</el-button>
						</el-form-item>
					</div>
				</el-form>
			</el-dialog>

			<div class="employee_schedule table">
				<div id="calendar">
				</div>
			</div>
		</div>
	</div>
</div>

</body>
<script type="text/javascript">
	new Vue({
		el: '#schedule-app',
		data() {
			return {
				page: 1,
				pageSize: 10,
				counts: 0,
				tableData: [],
				employeeList: [],
				storeList: [],
				jobList: [],
				ruleForm: {
					storeId: '',
					selectJobId:'',
					date: '',
				},
				addForm:{
					employeeId:'',
				},
				DialogVisible:false,
			}
		},
		computed: {
			rules(){
				return{
					'storeId':[
						{'required':true,'message':'请选择需查看的门店','trigger':'change'}
					],
				}
			}
		},
		created() {
			this.init()
			this.getJobsList()
			this.getStoresList()
			this.getEmployeesList()
			this.user = JSON.parse(localStorage.getItem('userInfo')).username
		},
		mounted() {},
		methods: {
			async init() {
				const params = {
					page: 1,
					pageSize: 10,
				}
			},
			//获取职位
			getJobsList() {
				getJobList().then(res => {
					if (res.code === 1) {
						this.jobList = res.data
					} else {
						this.$message.error(res.msg || '操作失败')
					}
				})
			},
			//获取门店
			getStoresList() {
				getStoreList().then(res => {
					if (res.code === 1) {
						this.storeList = res.data
					} else {
						this.$message.error(res.msg || '操作失败')
					}
				})
			},
			//获取员工
			getEmployeesList(){
				getEmployeeList().then(res =>{
					if(res.code === 1){
						this.employeeList = res.data
					}else{
						this.$message.error(res.msg || '操作失败')
					}
				})
			},
			submitForm(formName, st) {
				this.$refs[formName].validate((valid) => {
					if (valid) {
						let params = {...this.ruleForm}
						params.storeId = this.ruleForm.storeId
						params.selectJobId = this.ruleForm.selectJobId
						params.date = this.ruleForm.date.toString()
						sessionStorage.setItem('storeIds', params.storeId)
						sessionStorage.setItem('selectJobIds', params.selectJobId)
						sessionStorage.setItem('dates', params.date)
						console.log(params)
						location.reload()
						getSelectedInfo(params).then(res => {
							if (res.code === 1) {
								this.$message.success('确认自动生成排班表')
								this.tableData = res.data.records || []
								this.counts = res.data.total
								console.log(this.tableData)
								if (!st) {
									this.goBack()
								} else {
									this.ruleForm = {
										'storeId': '',
										'selectJobId': '',
										'date': ''
									}
								}
							} else {
								this.$message.error(res.msg || '操作失败')
							}
						}).catch(err => {
							this.$message.error('请求出错了：' + err)
						})
					}
				})
			},
			addHandle(){
				this.$refs.addForm.validate((valid) => {
					if (valid) {
						let params = {...this.addForm}
						params.employeeId = this.addForm.employeeId
						sessionStorage.setItem('employeeIds', params.employeeId)
						getEmployeeList().then(res =>{
							if(res.code === 1){
								this.employeeList = res.data
								for (let i = 0; i < this.employeeList.length; i++) {
									if(params.employeeId == this.employeeList[i].id){
										let jobIds=this.employeeList[i].jobId
										console.log(jobIds)
										sessionStorage.setItem('jobIds',jobIds)
										break
									}
								}
							}else{
								this.$message.error(res.msg || '操作失败')
							}
						})
						this.DialogVisible=false
						alert('选择员工成功，接下来请选择需安排的班次')
					}
				})
			},
			handleClose(done){
				this.$confirm('确定关闭吗').then(() => {
					// function(done)，done 用于关闭 Dialog
					done();
				}).catch(() => {
					console.log("点击确定时触发");
				});
			},
			goBack() {
				window.parent.menuHandle({
					id: '4',
					url: '../../page/schedule/list.html',
					name: '排班表管理'
				}, false)
			},
		}
	})
	document.addEventListener('DOMContentLoaded', function() {
		var calendarEl = document.getElementById('calendar');
		var calendar = new FullCalendar.Calendar(calendarEl, {
			initialView: 'dayGridWeek',
			//初始化本地语言
			locale: 'zh-cn',
			//设置时区为本地时区
			timeZone:'local',
			//定义日历上方显示全天信息的文本
			allDay:false,
			// allDayText:'全天',
			//设置视图区域高度
			contentHeight: window.screen.height - 290,
			//初始化顶部工具栏
			headerToolbar: {
				left: 'today',
				center: 'title',
				right: 'prevYear,prev,timeGridWeek,timeGridDay,next,nextYear'
			},
			titleFormat: { // will produce something like "Tuesday, September 18, 2018"
				month: 'long',
				year: 'numeric',
				day: 'numeric',
				weekday: 'long'
			},
			//把按钮翻译为中文
			buttonText: {
				week:'周',
				today: '今天',
				day:'日',
			},
			defaultView:'agendaWeek', //初始化时的默认视图默认显示周
			firstDay:1,
			editable: true,
			selectable: true,
			navLinks:true,
			minTime:'06:00:00',   //左侧时间从几点开始
			maxTime:'22:00:00',   //左侧时间从几点结束
			dragRevertDuration:1000,//设置一秒如果拖拽不成功则回复原状
			eventLimit: true, //如果数据过多超过日历格子显示的高度时，多出去的数据不会将格子挤开，而是显示为 +...more ，点击后才会完整显示所有的数据

			//事件点击——删除事件
			eventClick: info => {
				var message=confirm('确认删除该员工的排班事件？')
				console.log(info.event.id)
				if(message==true){
					$.ajax({
						url:'/paiban?id='+info.event.id,
						type:'delete',
					})
					calendar.refetchEvents()
				}
			},
			//日期点击
			// dateClick: function(info) {
			// 	add(info.dateStr);
			// },

			//选择区域添加事件
			select:info => {
				let starts=dateForm(info.start).split(' ')
				let ends=dateForm(info.end).split(' ')
				var storeIds=sessionStorage.getItem('storeIds')
				if(storeIds != null){
					if(compareTime(starts[1],'6:00:00')==false & compareTime(ends[1],'22:00:00')==true & compareTime(starts[1],'21:00:00')==true){
						let totalTime=info.end-info.start
						if(totalTime>14400000 || totalTime<3600000){
							alert('一个班次的时长限制为1小时-4小时')
							calendar.refetchEvents()
						}else{
							var message=confirm('是否确认将该员工添加入此班次？')
							if(message == true){
								var employeeIds=sessionStorage.getItem('employeeIds')
								var jobIds=sessionStorage.getItem('jobIds')
								info={storeId:storeIds,employeeId:employeeIds,jobId:jobIds,date:starts[0],startTime:starts[1],endTime:ends[1]}
								console.log(info)
								$.ajax({
									url:'/paiban',
									method:'POST',
									data:JSON.stringify(info),
									dataType:'json',
									contentType: "application/json",
									success:function(data){
										calendar.addEvent({
											title:data.employeeName,
											start:starts,
											end:ends,
										})
										calendar.refetchEvents()
									}
								})

							}
						}
					}else{
						alert('不得在早上6点以前或晚上10点以后安排班次！')
						calendar.refetchEvents()
					}
				}else{
					alert('请选择门店后再添加')
					calendar.refetchEvents()
				}
			},

			// 获取要显示的数据  返回的是json格式
			events: function(arg, callback) {
				//此处的arg里面的参数也可以参照上面的那个info输出后进行研究，要把参数都明确什么意思
				var storeIds=sessionStorage.getItem('storeIds')
				var selectJobIds=sessionStorage.getItem('selectJobIds')
				var dates=sessionStorage.getItem('dates')
				$.ajax({
					url:"/paiban/list?storeId="+storeIds+"&date="+dates+"&selectJobId="+selectJobIds,
					type : "GET",
					data: {},
					cache:false,
					dataType: "json",
					success:function(data){
						let events = [];
						var val={}
						let item=JSON.parse(JSON.stringify(data.data))
						$.each(item.records,function(i) {
							val={
								id:item.records[i].id,//存放排班id
								title: item.records[i].employeeName+'-'+item.records[i].jobName,
								start: item.records[i].date+' '+item.records[i].startTime, // will be parsed
								end: item.records[i].date+' '+item.records[i].endTime,
								color: Color(),
							}
							events.push(val)
						});
						callback(events)
					},

				});
			},

			// 事件编辑长度时
			eventResize: info => {
				let totalTime=info.event.end-info.event.start
				if(totalTime>14400000 || totalTime<3600000){
					alert('一个班次的时长限制为1小时-4小时')
					info.revert()
				}else{
					let start=dateForm(info.event.start).split(' ')
					let end=dateForm(info.event.end).split(' ')
					info={id:info.event.id,date:start[0],startTime:start[1],endTime:end[1]}
					$.ajax({
						url:'/paiban',
						type:'PUT',
						data:JSON.stringify(info),
						dataType:'json',
						contentType: "application/json"
					})
				}
			},

			// 事件拖动时
			eventDrop: info => {
				let start=dateForm(info.event.start).split(' ')
				let end=dateForm(info.event.end).split(' ')
				info={id:info.event.id,date:start[0],startTime:start[1],endTime:end[1]}
				console.log(info)
				if(compareTime(start[1],'6:00:00')==false & compareTime(end[1],'22:00:00')==true & compareTime(start[1],'21:00:00')==true){
					$.ajax({
						url:'/paiban',
						type:'PUT',
						data:JSON.stringify(info),
						dataType:'json',
						contentType: "application/json"
					})
				}else{
					alert('不得在早上6点以前或晚上10点以后安排班次！')
					calendar.refetchEvents()
				}

			},
			//对于返回的数据，如果需要重新组织内容，则使用事件数据转换方法
			// eventDataTransform: function(data) {
			// 	data.title = data.title ;
			// 	//  data.display='background';
			// 	return data;
			// },
		});
		calendar.render();
	});
	//时间转换格式
	function dateForm(date) {
		let year=date.getFullYear()
		let month=date.getMonth()+1
		let day=date.getDate()
		let hour=date.getHours()
		let minute=date.getMinutes()
		let second=date.getSeconds()
		return year+'-'+month+'-'+day+' '+hour+':'+minute+':'+second
	}
	//颜色对象
	function Color(){
		this.r = Math.floor(Math.random()*255);
		this.g = Math.floor(Math.random()*255);
		this.b = Math.floor(Math.random()*255);
		return this.color = 'rgba('+ this.r +','+ this.g +','+ this.b +',0.8)';
	}
	//比较时间大小
	function compareTime(time1,time2) {
		var a=time1.split(':')
		var b=time2.split(':')
		console.log(a,b)
		var date=new Date()
		var a1=date.setHours(a[0],a[1],a[2])
		var b1=date.setHours(b[0],b[1],b[2])
		console.log(a1,b1)
		return a1<b1;
	}
</script>
</html>