<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>智能排班系统</title>
    <link rel="shortcut icon" href="../favicon.ico">
    <link rel="stylesheet" href="../plugins/element-ui/index.css">
    <link rel="stylesheet" href="../styles/common.css">
    <link rel="stylesheet" href="../styles/login.css">
    <link rel="stylesheet" href="../styles/icon/iconfont.css">
    <script src="https://cdn.bootcdn.net/ajax/libs/axios/1.2.3/axios.js"></script>
    <style>
        body{
            min-width: 1336px;
        }
        .logo{
            height: 40px;
            color: #333;
            font-size: 30px;
            text-align: center;
            margin-bottom: 45px;
        }
    </style>
</head>
<body>
<div class="employeeLogin" id="employeeLogin">
    <div class="login-box">
        <img src="../images/login/employeeLogin.png" alt="">
        <div class="login-form">
            <el-form ref="loginForm" :model="loginForm" :rules="loginRules">
                <div class="logo">智能排班系统</div>
                <el-form-item prop="username">
                    <el-input v-model="loginForm.email" type="text" auto-complete="off" placeholder="电子邮件" maxlength="20" prefix-icon="iconfont icon-user" />
                </el-form-item>
                <el-form-item prop="password">
                    <el-input v-model="loginForm.password" type="password" placeholder="密码" prefix-icon="iconfont icon-lock" maxlength="20" @keyup.enter.native="handleLogin" />
                </el-form-item>
                <el-form-item style="width:100%;">
                    <el-button :loading="loading" class="login-btn" size="medium" type="primary" style="width:100%;" @click.native.prevent="handleLogin">
                        <span v-if="!loading">登录</span>
                        <span v-else>登陆中...</span>
                    </el-button>
                </el-form-item>
            </el-form>
        </div>
    </div>
</div>

<script src="../plugins/vue/vue.js"></script>
<script src="../plugins/element-ui/index.js"></script>
<script src="../plugins/axios/axios.min.js"></script>
<script src="../js/request.js"></script>
<script src="../js/validate.js"></script>
<script src="../api/employee.js"></script>
</body>
<script>
    new Vue({
        el:'#employeeLogin',
        data(){
            return{
                loginForm:{
                    email:'',
                    password:''
                },
                loading:false
            }
        },
        computed:{
            loginRules(){
                const validateEmailName = (rule,value,callback) => {
                    if (value.match(/^([a-zA-Z0-9_-])+@([a-zA-Z0-9_-])+(\.[a-zA-Z0-9_-])+/) || value.length<1) {
                        callback()
                    } else {
                        callback(new Error('邮箱不能为空或格式错误！'))
                    }
                }
                const validatePassword = (rule, value, callback) => {
                    if (value.length < 6) {
                        callback(new Error('密码必须在6位以上'))
                    } else {
                        callback()
                    }
                }
                return {
                    'email': [{ 'validator': validateEmailName, 'trigger': 'blur' }],
                    'password': [{ 'validator': validatePassword, 'trigger': 'blur' }]
                }
            }
        },
        created(){},
        methods: {
            async handleLogin() {
                this.$refs.loginForm.validate(async (valid) => {
                    if (valid) {
                        this.loading = true
                        let res = await loginApi(this.loginForm)
                        if (String(res.code) === '1') {
                            localStorage.setItem('userInfo',JSON.stringify(res.data))
                            window.location.href= '../page/schedule/schedule.html'
                        } else {
                            this.$message.error(res.msg)
                            this.loading = false
                        }
                    }
                })
            },
        },
    })
</script>
</html>