.demo-ruleForm{
    height: 250px;
}
.demo-ruleForm .el-form-item {
    display: inline-block !important;
}
.demo-ruleForm .el-form-item__content {
    margin-left: 3px !important;
    margin-right: 3px !important;
}
.buildSchedule{
    position: absolute;
    top:30px;
    right:70px;
}
.notice{
    position:absolute;
    top:90px;
    left:10px;
    color: #818184;
    font-size: 14px;
}
.addEvent{
    position: absolute;
    top:120px;
    left:60px;
    color: #76797f;
}
.addEvent:hover{
    border: 1px solid #373839;
    color: #818387;
}
.table{
    position: absolute;
    top:150px;
    left:1px;
    width: 100%;
    table-layout: fixed;
    text-align: center;
}
